form {
    display: flex;
    justify-content: ;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60%;
}
.confirmerreservation {
    margin-top: 20px;
            padding: 10px;
            background-color: #1a3a5c;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 60%;
}