.bodytaarifs {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.headertaarifs {
    background-color:#16325B;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.contenttaarifs {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0px;
}
.tarif-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tarif-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    
}
.tarif-card h3 {
    margin-top: 0;
    color: #333;
    a
}
.pricetaarifs {
    font-size: 1.5rem;
    font-weight: bold;
    color: #16325B;
}
@media (max-width: 768px) {
    .tarif-card {
        width: 100%;
    }
}